<!--<!DOCTYPE html>-->
<!--<html ng-app="app">-->

<!--<head>-->
    <!--<script data-require="angular.js@*" data-semver="1.3.6" src="https://code.angularjs.org/1.3.6/angular.js"></script>-->
    <!--<script data-require="ui-router@*" data-semver="0.2.13" src="//rawgit.com/angular-ui/ui-router/0.2.13/release/angular-ui-router.js"></script>-->
    <!--<link rel="stylesheet" href="css/registration.css" />-->
    <!--<script src="js/angularModule.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->

    <!--<link rel="stylesheet" href="http://46.101.250.169/conference/registration.css" />-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
    <!--<script src="js/registration.js"></script>-->
    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--</head>-->

<!--<body>-->
регистрация
<!--<ui-view name="signupForm"></ui-view>-->
<!--</body>-->

<!--</html>-->





<!--<!DOCTYPE html>-->
<!--<html >-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Регистрация</title>-->
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->

    <!--&lt;!&ndash;<link rel="stylesheet" href="http://46.101.250.169/conference/registration.css" />&ndash;&gt;-->
    <!--<link rel="stylesheet" href="css/registration.css" />-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-route.js"></script>-->

    <!--<script src="js/angularModule.js"></script>-->


<!--</head>-->
<!--<body ng-app="app">-->
<!--<div id="login">-->
    <!--<div class="flip">-->
        <!--<div ng-controller="registrationController">-->
            <!--<div class="form-signup" ng-model="greetings">-->
                <!--<h1>Регистрация</h1>-->
                <!--<fieldset>-->
                    <!--<p class="login-msg"></p>-->
                    <!--<form>-->
                        <!--<input class="form-control" ng-model="user.username" type="text" placeholder="Логин" required />-->
                        <!--<input class="form-control" ng-model="user.password" type="password" placeholder="Пароль" required />-->
                        <!--<input class="form-control" ng-model="user.password_repeat" type="password" placeholder="Повторите пароль" required />-->
                        <!--<input class="form-control" ng-model="user.email" type="email" placeholder="Email" required />-->
                        <!--<input class="form-control" ng-model="user.name" type="text" placeholder="ФИО" required />-->
                        <!--<input class="form-control" ng-model="user.phone" type="text" placeholder="Номер телефона" required />-->
                        <!--<div class="form-group">-->
                            <!--<label>Кто вы?</label>-->
                            <!--<select ng-model="user.role" class="form-control">-->
                                <!--<option value="organizer">Организатор</option>-->
                                <!--<option value="moderator">Модератор</option>-->
                                <!--<option value="reporter">Репортер</option>-->
                                <!--<option value="roomOrder">Владелец помещений</option>-->
                                <!--<option value="speaker">Спикер</option>-->
                                <!--<option value="visitor">Посетитель</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<input class="submit-button" type="button" ng-click="clickBtn()" value="Зарегистрироваться" />-->
                    <!--</form>-->
                    <!--<pre>{{user}}</pre>-->
                    <!--<a href="#" class="flipper">Уже зарегистрированы? Войти.</a>-->
                <!--</fieldset>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-login">-->
            <!--<h1>Авторизация</h1>-->
            <!--<fieldset>-->
                <!--<form method=post action="j_security_check">-->
                    <!--<input name="j_username" class="form-control" type="text" placeholder="Логин" required />-->
                    <!--<input name="j_password" class="form-control" type="password" placeholder="Пароль" required />-->
                    <!--<input class="submit-button" type="submit" value="Войти" />-->
                <!--</form>-->
                <!--<p><a href="#" class="flipper">Нет аккаунта? Регистрация.</a><br>-->
            <!--</fieldset>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
<!--<script src="js/registration.js"></script>-->
<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<!--</body>-->
<!--</html>-->