<div class="container">

    <div id="reporter">
        <div class="page-header">
            <h1>Отправка трансляции</h1>
        </div>

        <form>
            <div class="form-group">
            <label>Сообщение</label>
            <input ng-model="text" class="form-control" type="text" required />
            </div>
            <div class="form-group">
            <label>Время</label>
            <input ng-model="time" class="form-control" type="text" placeholder="2015-04-04 10:10:10" required />
             </div>
            <input type="button" ng-click='report()' class="btn-primary" value="Отправить в трансляцию">
        </form>
    </div>

    <div class="page-header">
        <h1>Live трансляция с места событий</h1>
    </div>

    <form name="myForm">
        <div>
            <div>
                <span> Автоматическое обновление </span>
                <input type="checkbox" ng-model="autoUpdate" ng-change="changeCheckbox()">
            </div>
            <div id="showup">
                <span> Каждые </span>
                <input type="number" ng-model="period" min="1" max="10000" required>
                <span> секунд </span>
            </div>
        </div>
    </form>

    <div class="page-header">
        <h1 ng-model="title">{{ title }}</h1>
    </div>

    <table class="table table-bordered table-hover" >
        <thead>
        <tr>
            <th>Время</th>
            <th>Сообщение</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="report in reports" >
            <td class="col-xs-3">{{ report.time | date : 'mediumTime' }}</td>
            <td class="col-xs-9">{{ report.text }}</td>
        </tr>
        </tbody>
    </table>
    <input id="more" type="button" ng-click='more()' class="btn-primary" value="Проверить обновления">
</div>